<wm-page data-ng-controller="AutocompleteController" name="page1">
    <wm-content name="content1">
        <!--<wm-page-content columnwidth="12" name="page_content1">-->
        <wm-composite name="composite2">
            <wm-label class="col-md-3 control-label" name="label1" caption="bind:caption" required="false"></wm-label>
            <wm-container class="col-md-9" name="container2">
                <select name="{{name}}" selector="" multi="ismultiple" required="required" model="myOption" options="options" label-attr="{{labelattr}}" value-attr="{{valattr}}" placeholder="placeholder" create="createFunction(input)"></select>
                <!--<select name="select1" selector="" multi="true" model="countries" remote="remoteConfig" remote-param="text" value-attr="code" placeholder="Choose one or more countries..."></select>-->
            </wm-container>
        </wm-composite>
        <!--</wm-page-content>-->
    </wm-content>
</wm-page>