.switchdemoBasicUsage .inset {
  padding-left: 25px;
  padding-top: 25px; }

/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

body { margin: 30px; }
p { margin-top: 10px; }
dl { margin-top: 15px; }
.btn-group { margin-bottom: 15px; }
.checkbox-inline { font-weight: bold; margin-bottom: 10px; }